{# templates/category/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Danh mục sản phẩm{% endblock %}

{% block body %}
    <h1>Danh mục sản phẩm</h1>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('category_detail', { 'id': category.id }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
