{# templates/review/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Danh sách đánh giá sản phẩm{% endblock %}

{% block body %}
    <h1>Danh sách đánh giá sản phẩm</h1>

    {% if reviews is empty %}
        <p>Không có đánh giá nào.</p>
    {% else %}
        <ul>
            {% for review in reviews %}
                <li>
                    <a href="{{ path('review_detail', { 'id': review.id }) }}">Đánh giá #{{ review.id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
