{# templates/order/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tạo đơn đặt hàng mới{% endblock %}

{% block body %}
    <h1>Tạo đơn đặt hàng mới</h1>

    {# Đặt biểu mẫu tạo đơn đặt hàng ở đây #}
</div>
{% endblock %}
