{# templates/order/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Danh sách đơn đặt hàng{% endblock %}

{% block body %}
    <h1>Danh sách đơn đặt hàng</h1>

    {% if orders is empty %}
        <p>Không có đơn đặt hàng nào.</p>
    {% else %}
        <ul>
            {% for order in orders %}
                <li>
                    <a href="{{ path('order_detail', { 'id': order.id }) }}">Đơn đặt hàng #{{ order.id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
